body, html {
    height:100%;
    margin:0;
}
#nav {
    background-color:black;
    color:white;
    height:100%;
    padding:0 5mm 0 2mm;
    float:left;
}
#wrapper {
    overflow:auto;
    height:100%;
    padding: 5mm;
}
a:link {
   color: #ffffff;
   text-decoration:none;
}
a:visited {
   color: #ffffff;
   text-decoration:none;
}
a:hover {
   color: #ffffff;
   text-decoration:underline;
}
a:active {
   color: #ffffff;
   text-decoration:underline;
}
.original-policy, .source-file, .line-number, .column-number, .status-code, .effective-expiry, .port {
	display: none;
}
